body {
	font-family: 'Courier New', Courier, monospace;
	height:100%;
}

h1 {
	color: blue;
}

blockquote {
	color: orangered;
}

#mainmain {
	margin-left: calc(10% + 35px);
}

#sidebar {
	position:fixed;
		/* margin:10px; */
	top:0px;
	left:0px;
	width: 10%;
	height:100vh;
	background-color: #fffdd0;
	overflow-x:hidden
}